#tickets {
  .tickets {
    width: 95%;
    margin: 0 auto;

    .table {
      width: 100%;
      float: left;
      background: $black;
      padding: 1px;
      border-radius: 5px 5px 0 0;
      border: 1px solid #333;

      .menu-list {
        width: 100%;
        float: left;
        background: $black;
        padding: 1px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #333;

        ul.menu {
          background: #050505;
          margin: 0;
          padding: 0;

          li.item {
            list-style: none;
            float: left;
            width: 10%;
            border-right: 2px solid #4f5058;

            a {
              display: block;
              text-decoration: none;
              font-size: 12px;
              padding: 0 7px;
              color: #fff;
              font-weight: 700;
              line-height: 36px;
              font-family: Arial,Helvetica,sans-serif;
              text-align: center;
              text-transform: uppercase;
              text-shadow: 1px 1px 1px rgba(0,0,0,.6);
            }

            &:hover,
            .active {
              cursor: pointer;
              background: #3F820E none repeat scroll 0 0;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.20) inset;
            }
          }
        }
      }
    }

    .ticket-details {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      table {
        width: 100%;
        float: left;
        height: 35px;
        border-top: 1px solid rgb(51, 51, 51);
        background: linear-gradient(rgb(13, 71, 161), rgb(13, 71, 161));
        border-bottom: 1px solid rgb(1, 1, 1);
        color: $white;
        margin: 0;

        tbody {
          background: rgb(28, 32, 33);
          border: 0;
        }

        td {
          padding: 7px;
          border: 0;

          button.view-button {
            color: black;
            padding: 2px 10px;
            background: #fff;
          }
        }
      }
    }
  }
}
