#app-header {
  width: 100%;
  height: auto;
  display: grid;

  .header-container {
    width: 100%;
    height: max-content;
    max-width: 100%;
    padding: 5px 15px;
    border-bottom: solid 3px $yellow;
    background: $black;

    .row {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
    }

    .nav {
      li {
        a {
          display: grid;
          font-weight: 500;
          font-size: 15px;
          color: $grey;
          padding: 2px 6px;
          text-decoration: none;
          opacity: 0.7;

          &.router-link-active,
          &:hover {
            color: $white;
            background-color: transparent;
            opacity: 1;
          }

          img {
            margin: auto;
          }
        }
      }
    }

    .right-panel {
      padding: 0;

      .account-info {
        display: flex;
        flex-direction: column;
        width: max-content;
        float: right;
        font-family: inherit;
        font-size: 15px;
        border: none;
        font-weight: 500;
        background: $black;
        color: $white;
        text-transform: uppercase;
        text-align: center;
      }

      .btn.group {
        padding: 4px 0 0;

        .full-screen-btn {
          margin-left: 10px;
          height: 28px;
          color: #337ab7;

          &.focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
