#pre-live-fixture-header {
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: #1a4ac5;
  font-family: '$black Hat Text', sans-serif;
  text-align: center;

  .row {
    display: flex;
    margin: 0;

    > .item:last-child {
      border-right: 1px solid $black;
    }

    .free-space {
      flex: 6;
      border: 1px solid $black;
      border-right: 0;
      border-bottom: 0;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      min-height: 50px;

      .country-name {
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-size: 18px;
        font-family: 'Archivo Narrow', sans-serif;
        text-align: center;
        padding-left: 10px;
      }
    }

    > .item:nth-child(odd) {
      background-color: $theme1-pre-live-row-odd-bg;
    }

    > .item:nth-child(even) {
      background-color: $theme1-pre-live-row-even-bg;
    }

    .item {
      border: 1px solid $black;
      border-right: 0;
      box-sizing: border-box;
      display: flex;
      width: auto;
      border-bottom: 0;
      flex-direction: column;
      flex: 2;

      .market-name {
        display: flex;
        width: min-content;
        min-width: 90px;
        height: max-content;
        min-height: calc(100% - 24px);
        align-items: center;
        margin: auto auto 0;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        justify-content: center;
        line-height: 1;
      }

      .sub-row {
        display: flex;
        width: 100%;
        height: 24px;

        &.over-under {
          .row-0 {
            pointer-events: none;
            background-color: $black;
          }
        }

        > .row-item:last-child {
          border-right: 0;
        }

        .sub-item {
          color: $white;
          font-size: 12px;
          font-weight: bold;
          width: calc(100% / 3);
        }

        %down-arrow-content {
          content: '';
          position: absolute;
          right: 3px;
          bottom: 0;
          width: 0;
          height: 0;
          border-bottom: 10px solid #ea473b;
          border-left: 10px solid transparent;
          z-index: 0;
        }

        %up-arrow-content {
          content: '';
          position: absolute;
          left: 3px;
          top: 1px;
          width: 0;
          height: 0;
          border-top: 10px solid #005400;
          border-right: 10px solid transparent;
          z-index: 0;
        }

        .row-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% / 3);
          border-right: 1px solid $black;
          font-size: 17px;
          font-weight: bold;
          cursor: pointer;
          background-color: #008120;
          height: 46px;
          position: relative;

          &.lower {
            &:before {
              @extend %down-arrow-content;
            }
          }

          &.greater {
            &:before {
              @extend %up-arrow-content;
            }
          }

          &:hover {
            background-color: #005d17;
          }

          &.lock-icon {
            pointer-events: none;
          }
        }
      }
    }

    .last-item {
      flex: 0.6;
      border: 1px solid $black;
      border-bottom: 0;

      &.count {
        color: $white;
        cursor: pointer;

        a {
          background-color: $black;
          align-items: center;
          display: flex;
          height: 100%;
          height: calc(100% / 2);
          justify-content: center;

          &:hover {
            background-color: #1a52de;
          }
        }
      }
    }
  }
}
