$bg-green-lf: "~@/assets/images/corn_lf_green.png";
$bg-green-rg: "~@/assets/images/corn_rg_green.png";
$close-icon: "~@/assets/images/fancybox_sprite.png";
$bg-football: "~@/assets/images/bg_football.jpg";
